<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: commonhead">
<!--    <meta charset="UTF-8">-->
<!--    <title>超市订单管理系统</title>-->
<!--    <link type="text/css" rel="stylesheet" href="css/style.css"/>-->
<!--    <link type="text/css" rel="stylesheet" href="css/public.css"/>-->
</head>
<body>
<!--头部-->
<header th:replace="common :: commonheader"></header>

<!--<header class="publicHeader">-->
<!--    <h1>超市订单管理系统</h1>-->
<!--    <div class="publicHeaderR">-->
<!--        <p><span>下午好！</span><span style="color: #fff21b">iok</span> , 欢迎你！</p>-->
<!--        <a href="">退出</a>-->
<!--    </div>-->
<!--</header>-->


<!--时间-->
<section th:replace="common :: commonsessiontime"></section>

<!--<section class="publicTime">-->
<!--    <span id="time">2015年1月1日 11:11  星期一</span>-->
<!--    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>-->
<!--</section>-->

<!--主体内容-->
<section  class="publicMian ">

    <div th:replace="common :: commonleft"></div>

    <div class="right">
        <img class="wColck" src="images/clock.jpg" alt=""/>
        <div class="wFont">
            <!--    用session获取放在session中的属性        -->
            <h2 th:text="${session.loginUser.userName}"></h2>
            <p>欢迎来到超市订单管理系统!</p>
        </div>
    </div>

</section>
<div th:replace="common :: commonfoot"></div>
<!--<footer class="footer">-->
<!--    超市订单管理系统-->
<!--</footer>-->
<!--<script  th:src="@{/js/time.js}"></script>-->
<!--<script  th:src="@{/js/jquery-1.8.3.min.js}"></script>-->
<!--<script  th:src="@{/js/common.js}"></script>-->
<!--<script  th:src="@{/calendar/WdatePicker.js}"></script>-->

</body>
</html>

